@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');

body {
	font-family: "Lato";
	font-size: 15px;
}

nav {
	font-family: "Raleway";
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}

header {
	background-image: url('../images/blog_header_bg.jpg');
	background-size: cover;
	background-position: center;
	height: 350px;
}

a:hover {
	color: #44545E;
}

nav a {
	text-decoration: none;
	color: #7B98AA;
	margin: 40px;
	letter-spacing: 1px;
	font-weight: bold;
}

h1 {
	font-family: "Raleway";
	font-size: 37px;
	text-align: center;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px
}

h1 a {
	text-decoration: none;
	color: white;
	margin-top: 150px;
	display: inline-block;
}

h3 {
	font-family: "Raleway";
	font-size: 18px;
	color: #44545E;
	text-align: left;
	text-transform: uppercase;
	margin-top: 50px;
}

article {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

h2 {
	font-family: "Raleway";
	font-size: 23px;
	color: #44545E;
	text-align: left;
	text-transform: uppercase;
	padding-bottom: 20px
}

img {
	max-width: 100%;
}

footer a {
	font-family: "Raleway";
	font-size: 15px;
	color: #44545E;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	font-weight: bold;
}

footer {
	text-align: center;
	background-color: #CDF3F6;
	padding-top: 20px;
	padding-bottom: 20px;
}

.social-links a {
	font-size: 30px;
	display: inline-block;
	color: #44545E;
}

.copyright {
	font-family: "Lato";
	text-transform: capitalize;
	margin: 5px;
	font-weight: bold;
	color: #44545E;
}

.copyright a {
	font-family: "Lato";
	text-transform: capitalize;
	margin: 5px;
	font-weight: bold;
	color: #44545E;
}

hr {
	border: 1px solid;
	color: #44545E;
}

.grid-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	margin-right: 50px;
}

aside h1 {
	font-family: "Raleway";
	font-size: 18px;
}

aside p {
	font-family: "Lato";
	font-size: 15px;
}

aside a {
	font-family: "Raleway";
	font-size: 15px;
	color: #7B98AA;
	text-decoration: none;
	margin: 0px;
}

aside li {
	margin-bottom: 10px;
}

aside ul {
	margin-bottom: 100px;
}

aside img {
	margin-top: 30px;
}
