* {
  font-family: "Quicksand";
  margin: 0px;
}

body {
  background-color: lightgray;
}

header {
  background-color: black;
  display: flex;
  padding: 50px;
  height: 100px;
  text-align: center;
}

.logo {
  background-position: left;
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 20px;
  margin-left: 150px;
  margin-right: 150px;
  letter-spacing: 1px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 100px;
}

button {
	background-color: black;
	border: none;
	font-size: 20px;
	color: white;
	text-transform: lowercase;
	font-weight: lighter;
	padding: 8px 15px;
	margin: 0 10px;
  position: relative;
  right: -780px;
  top: -750px;

}

.carousel-wrapper img {
	margin: 0 auto;
	max-width: 300px;
	display: none;
}

.carousel-wrapper img:first-of-type {
	display: block;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
